# .NET
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/**/*.suo
backend/.vs/
backend/**/appsettings.Development.json

# Next.js
frontend/.next/
frontend/node_modules/
frontend/.env.local
frontend/.env*.local
frontend/out/

# General
.DS_Store
*.log

.vercel
